* {
    box-sizing: border-box;
}

:root {
    --gray-dark: #e6e6e6;
    --gray-light: #f0f0f0;
    --blue: #00aba9;
    --green: #7cb06c;
    --orange: #EB9D3A;
    --red: #e6563b;
}

.fa-twitter {
    color: #2AA3F0;
}

body {
    background-color: var(--gray-light);
    padding: 0;
    margin: 0;
    width: 100vw;
}

/* === HEADER PROPERTIES === */
h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

/* === NATIVE GRID LAYOUT === */
#main-content {
    display: grid;
    grid-template-columns: 1fr;
}

/* === NATIVE NAV ===*/
#native-nav {
    height: 3em;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#native-nav-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2em;
    padding: 0;
    margin: 0;
}

#native-nav-list a {
    padding: .7em;
}

.nav-style li {
    list-style: none;
}

.nav-style a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

#nav-view {
    display: none;
}


/* === PAGE HEADER === */
#header-container {
    margin: 3.5em 0;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    grid-template-areas: "boxlogo boxlogo boxlogo";
}

#logo-container {
    position: relative;
    display: flex;
    grid-area: boxlogo;
}

#medhead {
    display: none;
}

#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

/* === TITLE: COMPANY NAME === */
#company-name {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 0;
    margin: 0;
}


/* === COMPANY ABOUT === */
#company-about-container {
    width: 100vw;
    text-align: center;
}

#company-page-title {
    margin: .5em 0;
}

#main-location-title {
    margin: 24px 0;
}

#company-location-header {
    margin-bottom: 0;
}

/* === 4 MAIN PILLARS === */
#pillar-container {
    display: flex;
    justify-content: center;
}

#pillar-div-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: .5em;
    grid-column-gap: 1.5em;
    margin: 2.5em;
}

.pillar {
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid white;
    height: 105px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pillar-text {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 24px;
}

/* === UNIVERSAL CLASSES === */
.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.orange {
    background-color: var(--orange);
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

/* === SELECTED FEATURED TITLE === */
#selected-featured-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

hr {
    display: none;
}

/* === FEATURED PROJECTS ===*/
.featured-project-card {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1.5em;
    grid-template-columns: 1fr 1fr;
}

.featured-project-image {
    grid-area: 1 / 1 / 2 / -1;
    width: 100%;
    border: 5px solid var(--gray-dark);
    border-radius: 3px;
}

.featured-project-name {
    font-family: 'Abel', sans-serif;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 5px;
}

.featured-pillar-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: auto;
}

.featured-pillar {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 3px;
}

.featured-pillar-container div:nth-child(4) {
    margin-right: 0;
}

.featured-pillar-container div:nth-child(1) {
    margin-left: auto;
}

#featured-projects-container section:nth-child(n+2) {
    display: none;
}

/* === NEWS FEED === */
#news-f-container {
    display: none;
}

#feed-title {
    display: none;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    #native-nav {
        display: none;
    }

    #nav-view {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #nav-view-list {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 5em;
        padding: 0;
        height: 2em;
        align-items: center;
    }

    #nav-view-list a {
        padding: .7em;
    }

    #nav-view-list li:nth-child(2) {
        margin-right: auto;
    }

    #nav-view-list li:nth-child(3) {
        margin-left: auto;
    }


    #header-container {
        margin: 3.5em 0 2.5em 0;
    }

    #company-page-title {
        font-size: 40px;
    }

    #pillar-div-list {
        display: flex;
        margin: 2.5em 2.5em 1em 2.5em;

    }

    #featured-projects-container {
        display: grid;
        grid-row-gap: 2em;
        grid-column-gap: 1em;
        margin: 0 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #featured-projects-container section:nth-child(n+2) {
        display: inherit;
    }

    .featured-project-card {
        width: 100%;
    }

    .pillar {
        margin: 0 .2em;
        border-radius: 50%;
        border: 8px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pillar-text {
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 20px;
    }

    hr {
        display: block;
        width: 70vw;
        color: var(--gray-light);
    }

}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    #company-name {
        display: none;
    }

    #logo {
        left: 6em;
    }

    #nav-view {
        justify-content: flex-end;
    }

    #nav-view-list {
        justify-content: flex-end;
        margin: 0 1.5em;
        align-items: center;
    }

    #nav-view-list li:nth-child(2) {
        margin-right: 0;
    }

    #nav-view-list li:nth-child(3) {
        margin-left: 0;
    }


    #medhead {
        display: inline;
        position: absolute;
        left: 8em;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }

    #company-page-title {
        margin-left: 2.5em;
        margin-right: 2.5em;
    }

    hr {
        width: calc(100vw - 4em);
    }

    .pillar {
        margin: 0 1em;
    }

    #med-grid {
        display: grid;
        grid-template-areas: "selwork selwork feedtitle" "projcont projcont newsfeed" "projcont projcont newsfeed" "projcont projcont newsfeed";
        grid-column-gap: 1em;
    }

    #selected-featured-title {
        grid-area: selwork;
        text-align: left;
        margin: 2em;
    }

    #featured-projects-container {
        grid-area: projcont;
        grid-row-gap: 3em;
        grid-column-gap: 3em;
    }

    .featured-project-card {
        grid-template-columns: 2fr 1fr;
    }

    .featured-project-name {
        font-size: .8em;
    }

    #news-f-container {
        display: inline-grid;
        grid-area: newsfeed;
        margin-right: 2em;
    }

    #news-f-container img {
        width: 3em;
        height: 3em;
        border: 2px solid var(--gray-dark);
        border-radius: 5px;
    }

    #feed-title {
        display: inline;
        text-align: left;
        margin-top: 2em;
        grid-area: feedtitle;
    }

    #news-feed {
        display: inline-grid;
        grid-template-columns: 0.5fr 2fr;
    }

    #twitter-feed {
        margin-top: 2em;
    }

    .fsubhead {
        padding: 2%;
    }

    .fa-twitter {
        margin-right: 1em;
    }

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #logo {
        left: 13em;
    }

    #nav-view-list {
        margin: 0 10em;
    }

    #medhead {
        left: 12em;
    }

    #company-page-title {
        margin-left: 3em;
        margin-right: 3em;
    }

    hr {
        width: calc(100vw - 30%);
        margin-left: 11em;
    }

    #med-grid {
        margin: 0 0 0 20%;
        width: 70vw;
    }

    #featured-projects-container {
        margin: 0;
        grid-column-gap: 6em;
    }

    #selected-featured-title {
        margin-left: 0;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #large-breakpoint-container {
        display: grid;
        grid-template-areas: ". main main main . " ". main main main . " ". main main main . " ". main main main . " ". main main main . " ". main main main . ";
    }

    #main-content {
        grid-area: main;
    }

    hr {
        width: calc(100vw - 30%);
    }

    #med-grid {
        margin: 0 0 0 18%;
    }

}