:root {
    --bg-info: rgba(8, 96, 229, 0.28);
    --text-info:rgba(229, 194, 16, 0.28);
    --bg-success: rgba(23, 185, 45, 0.28);
    --text-success: rgba(220, 23, 23, 0.28);
    --bg-warning:
    --text-warning: ;
    --bg-error: ;
    --text-error: ;

}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.bg-info {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--light-grey);
    background-color: rgba(8, 96, 229, 0.28);
    color: #2929b6;
}

.bg-success {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--light-grey);
    background-color: rgba(23, 185, 45, 0.28);
    color: #176e11;
}

.text-info {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--light-grey);
    background-color: rgba(229, 194, 16, 0.28);
    color: #9a872c;
}
.text-success {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--light-grey);
    background-color: rgba(220, 23, 23, 0.28);
    color: #8f0323;
}

/*body, html {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-family: Arial, Ubuntu, sans-serif;*/
/*}*/

/*:root {*/
/*    --main-bg-blue:rgba(8, 96, 229, 0.28);*/
/*    --main-bg-green:lightgreen;*/
/*    --main-bg-yellow:yellow;*/
/*    --main-bg-coral:lightcoral;*/
/*    opacity:.5;*/
/*}*/

/*.message {*/
/*    max-width:80%;*/
/*    border-radius:.3em;*/
/*    padding: .75em;*/
/*    margin: .5em auto;*/
/*    border: 1px solid darkgrey;*/
/*}*/

/*.bg-info {*/
/*    background-color: var(--main-bg-blue);*/
/*    !*background-color: skyblue;*!*/
/*    color: blue;*/
/*    !*opacity: 0.5;*!*/
/*}*/
/*.bg-success {*/
/*    background-color: var(--main-bg-green);*/
/*    color: green;*/
/*    !*opacity: 0.5;*!*/
/*}*/
/*.text-info {*/
/*    background-color: var(--main-bg-yellow);*/
/*    color: sandybrown;*/

/*    !*opacity: 0.5;*!*/
/*}*/
/*.text-success {*/
/*    background-color: var(--main-bg-coral);*/
/*    color: darkred;*/
/*    !*opacity: 0.5;*!*/
/*}*/